* {background-color: rgb(24, 24, 24)}

body{
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
    font-family: "owners=text", sans-serif;
    color: white;
}

header{
    font-weight: 600;
    text-align: center;
}

h1{
    color: rgb(131, 196, 199);
    font-size: 36px;
    line-height: 0.5;
}

h2{
    font-size: 24px;
    font-weight: 550;
    text-align: center;
}

p{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
}

.name{
    color:rgb(131, 196, 199);
    font-weight: 550;
}

.quote{
    border: 1px solid white;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    margin-top: 50px;
}

.image{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}