body {
    font-family: "ivystyle-sans", sans-serif;
    line-height: 1.6;
}
  
p {
    font-family: "ivystyle-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    text-align: center;
    padding: 20px;
}
  
h1 {
    color: #333333;
    font-size: 48px;
    font-family: "ivypresto-headline", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}

h2 {
    color: #333333;
    font-size: 24px;
    font-family: "ivystyle-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 40px;
}

h3 {
    color: #1b70a9;
    font-size: 24px;
    font-family: "ivypresto-headline", serif;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 20px 25px 0 15px;
    margin: 0;
}
  
main {
    padding: 20px;
}
  
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
  
.card {
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-decoration: none;
}
  
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.card img {
    width: 100%;
    height: auto;
    display: block;
}
  
.card p {
    padding: 0 25px 15px 25px;
    color: #555555;
    text-align: center;
}

footer {
    color: #333333;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 10pt;
}